.modal-loading-content {
  ion-thumbnail {
    width: 100%;
    height: 300px;
  }
}
.modal-image-container {
  img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}
